body {
  background-color: #f5f2eb;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

body.portrait {
}

body.landscape {
}

.small {
  font-size: 50%;
}

.buttons .small {
  margin-bottom: 15px;
}

/* Index */

.body {
  font-size: 18px;
}

.body a {
  color: #66c2a5;
}

.body a:hover {
  text-decoration: none;
}

.body .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.body .videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  box-shadow: 0 0 10px #cfcdc6;
}

.body .logo {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #cfcdc6;
  width: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.body .logo.rotated {
  z-index: -100000;
  position: absolute;
  -webkit-transform: translate3d(0,0,0) rotate(-4deg);
  transform: translate3d(0,0,0) rotate(-4deg);
}

.vote {
  position: fixed;
  top: 20px;
  right: 0px;
  text-decoration: none;
}

.body h1 {
  font-size: 48px;
  margin: 0px;
  margin-top: 10px;
  font-weight: normal;
}

.body h2 {
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
}

.body .steps {
  background-color: white;
  border: 2px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #cfcdc6;
  padding: 20px;
  margin-top: 20px;
}

.body .steps .step {
  margin-bottom: 20px;
}

.body .steps :last-child {
  margin: 0px;
}

.body .steps .step .num {
  float: left;
  width: 28px;
  height: 24px;
  border: 2px solid #66c2a5;
  padding-top: 3px;
  color: #66c2a5;
  border-radius: 2px;
}

.body .steps .step .info {
  overflow: hidden;
  text-align: left;
  padding-left: 15px;
  padding-top: 5px;
}

.footer {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  color: black;
  font-size: 14px;
}

.footer a {
  color: black;
}

.body .button {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.body .button .inner {
  background-color: #8192b8;
  padding: 10px 20px;
  font-size: 140%;
  border-radius: 2px;
  color: white;
  text-decoration: none;
}

.body .additional {
  padding-top: 5px;
  color: #8192b8;
}

@media (max-width: 750px) {
  .vote {
    display: none;
  }

  .body {
    margin: 10%;
  }

  .body .logo {
    width: 100%;
  }

  .body .logo.rotated {
    display: none;
  }
}

@media (min-width: 750px) {
  .body {
    position: absolute;
    left: 50%;
    margin-left: -250px;
    width: 500px;
  }
}


/* Chooser */

@media (max-width: 750px) {
  .chooser {
    margin: 10%;
  }

  .chooser .title {
    font-size: 20px;
    margin-bottom: 10%;
  }

  .chooser .chooser-inner {

  }

  .chooser .pack {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 30%;
    color: white;
    margin-bottom: 5%;
  }

  .chooser .pack .inside {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #cfcdc6;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .chooser .pack .word {
    font-size: 32px;
    display: table-cell;
    vertical-align: middle;
  }

  .chooser .pack .inside.rotated {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    z-index: -100;
  }

  .mobile {

  }

  .desktop {
    display: none;
  }
}

@media (min-width: 750px) {
  .chooser {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15%;
    margin-left: -250px;
    width: 500px;
    height: 350px;
  }

  .chooser .title {
    display: block;
    position: absolute;
    width: 100%;
    top: -60px;
    font-size: 22px;
  }

  .chooser .chooser-inner {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .chooser .pack {
    cursor: pointer;
    width: 100%;
    height: 140px;
    display: table;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #cfcdc6;
    margin-bottom: 10px;
  }

  .chooser .pack .inside {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 100;
  }

  .chooser .pack .inside.rotated {
    display: none;
  }

  .chooser .pack .word {
    font-size: 32px;
    line-height: 32px;
  }

  .mobile {
    display: none;
  }

  .desktop {

  }
}


/* Game */

.game .card-inner {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #cfcdc6;
  font-size: 32px;
  display: table;
}

.game .word {
  display: table-cell;
  vertical-align: middle;
  padding-top: 70px;
}

body.landscape .game .word {
  padding-top: 10px;
}

.game .word .buttons {
  margin-top: 70px;
}

body.landscape .game .word .buttons {
  margin-top: 10px;
}

.game .word .buttons span.icon {
  color: white;
  padding: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.game .word .buttons .bt-wrong {
  background-color: #fc8d62;
}

.game .teams div, .game .time .progress {
  font-family: 'PT Sans Caption', sans-serif;
  color: white;
  text-align: right;
  font-size: 13px;
  transition: transform 0.25s;
  transition-timing-function: ease;
}

.game .teams div span.label, .game .time .progress span.label {
  margin-right: 4px;
}

.game .time .progress {
  width: 100%;
  background-color: #66c2a5;
  transition: transform 1s;
  transition-timing-function: linear;
}

.game .teams .team {
  clear: both;
}

.game .teams .team.inactive .arrow .icon-arrow-right {
  display: none;
}

.game .teams .team .arrow {
  width: 5%;
  float: left;
  font-size: 10px;
  padding-top: 4px;
  color: white;
  height: 14px;
  border-width: 0px;
  margin: 0px;
  position: absolute;
  z-index: 100;
}

.game .teams .team .arrow span.icon-arrow-right {
  padding-right: 2px;
}

.game .teams .team .score {
  float: left;
  width: 100%;
  z-index: -100;
  height: 18px;
}

.game .teams .team .arrow.arrow-0, .game .word .buttons .bt-right-team-0 {
  background-color: #8192b8;
}

.game .teams .team .arrow.arrow-1, .game .word .buttons .bt-right-team-1 {
  background-color: #98c44d;
}

.game .teams .team.inactive .arrow.arrow-0 {
  background-color: #8da0cb;
}

.game .teams .team.inactive .arrow.arrow-1 {
  background-color: #a6d854;
}

.game .teams .team .score-0 {
  background-color: #8da0cb;
}

.game .teams .team .score-1 {
  background-color: #a6d854;
}

.winner-team-0 {
  color: #8da0cb;
}

.winner-team-1 {
  color: #a6d854;
}

.game .time {
  height: 20px;
}

@media (max-width: 750px) {
  .game { }

  .game .card-inner {
    left: 10%;
    top: 15%;
    position: absolute;
    width: 80%;
    height: 70%;
    text-align: center;
    max-width: 650px;
    max-height: 650px;
    z-index: 100;
  }

  .game .card-rotated {
    -webkit-transform: translate3d(0,0,0) rotate(4deg);
    transform: translate3d(0,0,0) rotate(4deg);
    z-index: -100;
  }

  .game .time, .game .teams {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .game .teams {
    position: absolute;
    bottom: 0px;
  }
}

@media (min-width: 750px) {
  .game {
    left: 50%;
    top: 20%;
    position: absolute;
  }

  .game .card-inner {
    width: 500px;
    height: 100%;
    margin-left: -250px;
    height: 300px;
    text-align: center;
    max-width: 500px;
    max-height: 500px;
    z-index: 100;
  }

  .game .card-rotated {
    position: absolute;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    z-index: -100;
  }

  .game .time, .game .teams {
    width: 500px;
    margin-bottom: 50px;
    background-color: transparent;
    margin-left: -250px;
    text-align: center;
    max-width: 500px;
  }

  .game .teams {
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .card-placeholder {
    height: 372px;
  }
}


/* Round finished */

.finished {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;
  font-size: 32px;
}

.finished div {
  margin-bottom: 20px;
}

.finished div.big {
  font-size: 300%;
}

.finished div.small {
  font-size: 60%;
}

.sharing-inner {
  height: 20px;
}

/*
new styles
FIXME(Dmitry): clean up styles above
FIXME(Dmitry): remove/trim animate.css
*/

body {
  /* helps with flashing scroll on card animation */
  overflow: hidden;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}


.screen-enter {
  opacity: 0.01;
  transition: opacity .15s ease-in;
}

.screen-enter.screen-enter-active {
  opacity: 1;
}

.screen-leave {
  opacity: 1;
  transition: opacity .15s ease-in;
}

.screen-leave.screen-leave-active {
  opacity: 0.01;
}

.keyframe-animated {
  -webkit-animation-duration: 0.35s;
          animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.card-enter {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
}

.card-leave.wrong {
  z-index: -100;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: bounceOutLeft;
          animation-name: bounceOutLeft;
}

.card-leave.right {
  z-index: -100;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: bounceOutRight;
          animation-name: bounceOutRight;
}
