body {
  background-color: #f5f2eb;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

body.portrait {
}

body.landscape {
}

.small {
  font-size: 50%;
}

.buttons .small {
  margin-bottom: 15px;
}


/* Chooser */

@media (max-width: 750px) {
  .chooser {
    margin: 10%;
  }

  .chooser .title {
    font-size: 20px;
    margin-bottom: 10%;
  }

  .chooser .chooser-inner {

  }

  .chooser .pack {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 30%;
    color: white;
    margin-bottom: 5%;
  }

  .chooser .pack .inside {
    position: absolute;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #cfcdc6;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 100;
  }

  .chooser .pack .word {
    font-size: 32px;
    display: table-cell;
    vertical-align: middle;
  }

  .chooser .pack .inside.rotated {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    z-index: -100;
  }

  .mobile {

  }

  .desktop {
    display: none;
  }
}

@media (min-width: 750px) {
  .chooser {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15%;
    margin-left: -250px;
    width: 500px;
    height: 350px;
  }

  .chooser .title {
    display: block;
    position: absolute;
    width: 100%;
    top: -60px;
    font-size: 22px;
  }

  .chooser .chooser-inner {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .chooser .pack {
    cursor: pointer;
    width: 100%;
    height: 140px;
    display: table;
    text-align: center;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #cfcdc6;
    margin-bottom: 10px;
  }

  .chooser .pack .inside {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 100;
  }

  .chooser .pack .inside.rotated {
    display: none;
  }

  .chooser .pack .word {
    font-size: 32px;
    line-height: 32px;
  }

  .mobile {
    display: none;
  }

  .desktop {

  }
}


/* Game */

.game .card-inner {
  background-color: white;
  border-radius: 2px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #cfcdc6;
  font-size: 32px;
  display: table;
}

.game .word {
  display: table-cell;
  vertical-align: middle;
  padding-top: 70px;
}

body.landscape .game .word {
  padding-top: 10px;
}

.game .word .buttons {
  margin-top: 70px;
}

body.landscape .game .word .buttons {
  margin-top: 10px;
}

.game .word .buttons span.icon {
  color: white;
  padding: 15px;
  border-radius: 2px;
  cursor: pointer;
}

.game .word .buttons .bt-wrong {
  background-color: #fc8d62;
}

.game .teams div, .game .time .progress {
  font-family: 'PT Sans Caption', sans-serif;
  color: white;
  text-align: right;
  font-size: 13px;
  padding-right: 4px;
  transition: width 0.25s;
  transition-timing-function: linear;
}

.game .time .progress {
  width: 50%; /* remove me */
  background-color: #66c2a5;
  transition: width 0.25s;
  transition-timing-function: linear;
}

.game .teams .team {
  clear: both;
}

.game .teams .team.inactive .arrow .icon-arrow-right {
  display: none;
}

.game .teams .team .arrow {
  width: 5%;
  float: left;
  font-size: 10px;
  padding-top: 4px;
  color: white;
  height: 14px;
}

.game .teams .team .arrow.a1, .game .word .buttons .bt-right-team-1 {
  background-color: #8192b8;
}

.game .teams .team .arrow.a2, .game .word .buttons .bt-right-team-2 {
  background-color: #98c44d;
}

.game .teams .team.inactive .arrow.a1 {
  background-color: #8da0cb;
}

.game .teams .team.inactive .arrow.a2 {
  background-color: #a6d854;
}

.game .teams .team .team1 {
  float: left;
  width: 0%; /* remove me */
  background-color: #8da0cb;
  height: 18px;
}

.game .teams .team .team2 {
  float: left;
  width: 80%; /* remove me */
  background-color: #a6d854;
  height: 18px;
}

@media (max-width: 750px) {
  .game { }

  .game .card-inner {
    left: 10%;
    top: 15%;
    position: absolute;
    width: 80%;
    height: 70%;
    text-align: center;
    max-width: 650px;
    max-height: 650px;
    z-index: 100;
  }

  .game .card-rotated {
    -webkit-transform: translate3d(0,0,0) rotate(4deg);
    transform: translate3d(0,0,0) rotate(4deg);
    z-index: -100;
  }

  .game .time, .game .teams {
    position: absolute;
    width: 100%;
    text-align: center;
  }

  .game .teams {
    position: absolute;
    bottom: 0px;
  }
}

@media (min-width: 750px) {
  .game {
    left: 50%;
    top: 20%;
    position: absolute;
  }

  .game .card-inner {
    width: 500px;
    height: 100%;
    margin-left: -250px;
    height: 300px;
    text-align: center;
    max-width: 500px;
    max-height: 500px;
    z-index: 100;
  }

  .game .card-rotated {
    position: absolute;
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
    z-index: -100;
  }

  .game .time, .game .teams {
    width: 500px;
    margin-bottom: 50px;
    background-color: transparent;
    margin-left: -250px;
    text-align: center;
    max-width: 500px;
  }

  .game .teams {
    margin-top: 50px;
    margin-bottom: 0px;
  }
}


/* Round finished */

.finished {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;
  font-size: 32px;
}

.finished div {
  margin-bottom: 20px;
}

.finished div.big {
  font-size: 300%;
}

.finished div.small {
  font-size: 60%;
}

.sharing-inner {
  height: 20px;
}
